.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	color: DimGray;
	background-color: #99a682; /* DarkOliveGreen milded */
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: DarkOliveGreen;
	color: Ivory;
}

.adress{
	font-size: 80%;
	margin: 0px;
	color: Ivory;
}

body{
	padding: 50px 0px 0px 0px;
	z-index; 0;
}

.navbar-dark{
	background: #3b4b21; /*DarkOliveGreen Darker*/
}

.tab-content{
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	background-color: #ccd3c1; /* DarkOliveGreen Super Light*/

}

.nav-tabs .nav-link.active {
  background-color: #ccd3c1;
  border-bottom:#e2e2e2;
  font-weight: bold;
}